* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wrapper */
.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

/* Login  */
.login-container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.login-container h2 {
  margin-bottom: 20px;
  color: #e35333;
}

/* Inputs */
.login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
}

/* Login button */
.login-container button {
  width: 100%;
  padding: 12px;
  background: #e35333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.login-container button:hover {
  background: #c03e22;
}

/* Error */
.error {
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Home Button */
.home-btn {
  padding: 10px 22px;
  background: #e35333;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
}

.home-btn:hover {
  background: #c03e22;
}
